<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Domla.Archive.Nancy.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Domla.Archive.NancyModule.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <Domla.Archive.Nancy.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="ArchiveHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ArchivePort" serializeAs="String">
                <value>1982</value>
            </setting>
            <setting name="ArchiveUser" serializeAs="String">
                <value>webApi</value>
            </setting>
            <setting name="ArchivePassword" serializeAs="String">
                <value>xxx</value>
            </setting>
        </Domla.Archive.Nancy.Settings>
        <Domla.Archive.NancyModule.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>1985</value>
            </setting>
        </Domla.Archive.NancyModule.Settings>
    </userSettings>
</configuration>